nav {
    background: black;
    background: linear-gradient(black, indigo);
}

#navbarNav li > a {
    color: white;
}

header {
    background-image: linear-gradient(
        rgba(75, 0, 139, 0.45), 
        rgba(75, 4, 130, 0.45)
      ),url("../img/testheader.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px;
    
}