* {
    font-family: 'Lato','Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
}

/* TODO: make fixed at top */
nav {
    background: black;
    background: linear-gradient(black, rgba(75, 4, 139, 1));
}

#navbarNav li > a {
    color: white;
}

nav .button {
    color: white;
}
header {
    background-image: linear-gradient(
        rgba(75, 4, 139, 1), 
        rgba(75, 4, 130, 0.3)
      ),url("../img/testheader.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
