.first-row {
   
    position: relative;
}

.row {
    width: 70%;
    margin: auto;
}

.card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 0.6rem;
}

.card > p {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    font-size: 1em;
}


.name {
   text-align: center;
   Color: white;
}

.profile-pic {
    display: block;
    margin: auto;
}

.para-text {

    Color: rgba(255, 255, 255, 0.884);
}

