.first-row {
   
    position: relative;
   
    margin:auto;
    

}


.name {
   text-align: center;
   Color: white;
}

.profile-pic {
    display: block;
    margin: auto;
}

.para-text {

    Color: rgba(255, 255, 255, 0.884);
}

